:root {
    --nav-background-color: black;
    --nav-text-color: white;
    --background-color: white;
    --text-color: black;
    --card-background-color: white;
    --card-border-color: black;
    --card-text-color: black;
}

* {
    box-sizing: border-box
}

html {
    margin: 5vw;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body nav {
    /* position: sticky; */
    top: 0;
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: normal;
}

.card {
    border-radius: 30px;
    margin: 20px 0;
    padding: 10px 30px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--card-background-color);
    display: flex;
    justify-content: space-between;
}

.card-image {
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.profile-picture {
    position: absolute;
    object-position: left top;
    border-radius: 50%;
    height: auto;
    max-width: 10vw;
}
